html{
	height: 100%;
	overflow: hidden !important;
}

body {
	background-color: #BED6F8;
	display: block;
	font-size: 11px;
	/*height: 100vh !important;*/
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#Contenedor{
	width: 400px;
	margin: 50px auto;
	background-color: #F3EDED;
    border: 1px solid #ECE8E8;
	height: 400px;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
}

#top {
	background-color: #BED6F8;
	width: 100%;
	text-align: center;
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 11vh !important;
	font-family: Arial, Helvetica, sans-serif, Geneva;
	border-bottom: 1px solid #466ea7;
}

#topBusqueda{
	background-color: #BED6F8;
	width: 100%;
	text-align: center;
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 11vh !important;
	font-family: Arial, Helvetica, sans-serif, Geneva;
	border-bottom: 7px solid darkcyan;
}

#center {
	margin: 0 auto;
	vertical-align: middle !important;
}

#bottom {
	height: 5vh !important;
	text-align: center;
	position: relative;
	width: 100%;
	margin-left: 0px;
	margin-right: 100px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #a6a6a6;
	text-align: center;
	border-top: 1px solid #466ea7;
}

.style-copy-rigth{
	background-color: #BED6F8;
	width: 100% !important;
	text-align: center;	
	font-size: 11px;
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}


.style-div-login{
	padding-top: 50px !important;
	padding-bottom: 150px;
}

.style-div-menu{
	padding-top: 15px !important;
	padding-left: 10px !important;
	/*background-image: url("#{resource['images/menu.png']}");*/
	background-size: cover;
	height: 80vh !important;
	background-image: rgba(0, 0, 0, 0.3);
}
/** Inicio estilos menus **/
.styleMenuVert{
	height: 70px;
    width: 67px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 28px 0 0 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
}

.stylePrincipal a{
	height: 70px;
    width: 67px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 28px 0 0 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
}

.style-common{
	width: 24px;
	height: 24px;
}

.style-home{
	background-image: url("#{resource['images/home.png']}");
}

.styleArticle{
	background-image: url("#{resource['images/article.png']}");
}

.styleClient{
	background-image: url("#{resource['images/client.png']}");
}

.stylePedidos{
	background-image: url("#{resource['images/orders.png']}");
}

.styleTransportista{
	background-image: url("#{resource['images/transport.png']}");
}

.styleChofer{
	background-image: url("#{resource['images/driver.png']}");
}

.styleVehiculo{
    background-image: url("#{resource['images/car.png']}");
}

.styleDespacho{
	background-image: url("#{resource['images/dispatch.png']}");
}

.styleFactura{
    background-image: url("#{resource['images/bill.png']}");
}

.styleInvetario{
    background-image: url("#{resource['images/inventory.png']}");
}

.styleReporte{
	background-image: url("#{resource['images/report.png']}");
}

.styleProveedor{
	background-image: url("#{resource['images/provider.png']}");
}

.styleCompras{
	background-image: url("#{resource['images/compra.png']}");
}

.styleCuentas{
	background-image: url("#{resource['images/cuentas.png']}");
}

.styleUsuario{
    background-image: url("#{resource['images/users.png']}");
}

.styleModulo{
	background-image: url("#{resource['images/module.png']}");
}

.stylePerfil{
	background-image: url("#{resource['images/profile.png']}");
}

.styleBancos{
	background-image: url("#{resource['images/bancos.png']}");
}

.styleCaja{
	background-image: url("#{resource['images/caja.png']}");
}

.styleCuentasPagar{
	background-image: url("#{resource['images/cuentaspagar.png']}");
}

.styleCuentasCobrar{
	background-image: url("#{resource['images/cuentascobrar.png']}");
}

.styleVendedor{
	background-image: url("#{resource['images/vendedor.png']}");
}

/*Estilos menu centro*/
.styleArticle a:hover {
	background-image: url("#{resource['images/articulos_over.png']}");
}

.styleArticle a {
    background-image: url("#{resource['images/articulos.png']}");    
}

.styleClient a:hover {
	background-image: url("#{resource['images/clientes_hover.png']}");
}

.styleClient a {
    background-image: url("#{resource['images/clientes.png']}");
}

.stylePedidos a:hover {
	background-image: url("#{resource['images/pedidos_hover.png']}");
}

.stylePedidos a {
    background-image: url("#{resource['images/pedidos.png']}");
}

.styleTransportista a:hover {
	background-image: url("#{resource['images/transportista_hover.png']}");
}

.styleTransportista a {
    background-image: url("#{resource['images/transportista.png']}");
}

.styleChofer a:hover {
	background-image: url("#{resource['images/choferes_hover.png']}");
}

.styleChofer a {
    background-image: url("#{resource['images/choferes.png']}");
}

.styleVehiculo a:hover {
	background-image: url("#{resource['images/vehiculos_hover.png']}");
}

.styleVehiculo a {
    background-image: url("#{resource['images/vehiculos.png']}");
}

.styleDespacho a:hover {
	background-image: url("#{resource['images/despachos_hover.png']}");
}

.styleDespacho a {
    background-image: url("#{resource['images/despachos.png']}");
}

.styleFactura a:hover {
	background-image: url("#{resource['images/facturas_hover.png']}");
}

.styleFactura a {
    background-image: url("#{resource['images/facturas.png']}");
}

.styleUsuario a:hover {
	background-image: url("#{resource['images/usuarios_hover.png']}");
}

.styleUsuario a {
    background-image: url("#{resource['images/usuarios.png']}");
}

.styleModulo a:hover {
	background-image: url("#{resource['images/modulos_hover.png']}");
}

.styleModulo a {
    background-image: url("#{resource['images/modulos.png']}");
}

.stylePerfil a:hover {
	background-image: url("#{resource['images/perfil_hover.png']}");
}

.stylePerfil a {
    background-image: url("#{resource['images/perfil.png']}");
}

.styleInvetario a:hover {
	background-image: url("#{resource['images/invetarios_hover.png']}");
}

.styleInvetario a {
    background-image: url("#{resource['images/invetarios.png']}");
}

.styleReporte a:hover {
	background-image: url("#{resource['images/reporte_hover.png']}");
}

.styleReporte a {
    background-image: url("#{resource['images/reporte.png']}");
}

/** Fin estilos menus **/


.styleCerrar a:hover {
	background-image: url("#{resource['images/cerrar_over.png']}");
}

.styleCerrar a {
	height: 10px;
    width: 125px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 28px 0 0 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
    background-image: url("#{resource['images/cerrar.png']}");
}

.styleAyuda a:hover {
	background-image: url("#{resource['images/ayuda_over.png']}");
}

.styleAyuda a {
	height: 10px;
    width: 80px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 28px 0 0 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
    background-image: url("#{resource['images/ayuda.png']}");
}

#contenedorPrincipal{
	overflow: hidden;
    width: 99.4%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 14px;
    background-color: #FFF;
    height: 80vh;
}

#contenedorPrincipalNuevo{
	overflow-x: hidden;
	overflow-y: auto;
    width: 99.4%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 14px;
    background-color: #FFF;
    height: 83vh;
}

#contentLeft{
	float: left;
	width: 17.5%;
	border-right: 7px solid #a6a6a6 !important; 
	height: 300px;
	overflow-y: auto;
}

#contentRigth{
	float: right;
	width: 81.5%;
	overflow-y: auto;
    overflow-x: hidden;
}

#contenedorMenuPrincipal{
	overflow: hidden;
    width: 99.4%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 14px;
    background-color: #FFF;
    height: 83vh;
}

#contentLeftMenu{
	float: left;
	width: 30%;
	height: 450px;
	overflow-y: auto;
}

#contentRigthMenu{
	float: right;
	width: 65%
}

/*::-webkit-scrollbar {
    width: 0px !important;
}*/

.styleDivMenuSecundario{
	height: 70vh;
	width: 90%;
}

.styleRichPanelMenu{
    margin-top: 0.2em !important;
    margin-left: 0.2em !important;
    margin-right: -0.2em !important;
    height: 98% !important;
}

.styleRichPanelMenu .rf-tab-hdr-tabs {
    margin-left: -0.6em !important;
    margin-top: -0.3em !important;
    height: 3em !important;
}

.styleRichPanelMenu .rf-tab-hdr-act.rf-tab-hdr-top {
    vertical-align: middle !important;
}

.styleRichPanelMenu .rf-tab-hdr-inact.rf-tab-hdr-top {
    vertical-align: middle !important;
}

.styleRichPanelMenu .rf-dg-c {
    text-align: -webkit-center !important;
}

.styleRichPanelMenu .rf-tab-cnt {
    background: #f2f7fe !important;
}   

.styleDivMenuLeft{
	padding-right: 3px !important;
	padding-bottom: 3px !important;
	padding-top: 3px !important;
	padding-left: 3px !important;
	background-image: url("#{resource['images/menu.png']}");
	background-size: cover;
	height: 80vh !important;
	background-image: rgba(0, 0, 0, 0.3);
}

.styleDivMenuBusquedasLeft{
	padding-left: 3px !important;
    padding-top: 2px !important;
    padding-right: 3px !important;
	padding-left: 1px !important;
	background-color: #F5F5F5;
	background-size: cover;
	height: 80vh !important;
	background-image: rgba(0, 0, 0, 0.3);
}

.styleDivMenuBusquedasRigth{
	padding-left: 2px !important;
	background-color: #F5F5F5;
	background-size: cover;
	height: 80.3vh !important;
	background-image: rgba(0, 0, 0, 0.3);
}

.botonComun a.botonNuevo {
    background-image: url("#{resource['images/btnNuevo.png']}");
    width: 45px;
}

.botonComun a.botonDownload {
    background-image: url("#{resource['images/btnDownload.png']}");
    width: 45px;
}

.botonComun a.botonUpload {
    background-image: url("#{resource['images/btnUpLoad.png']}");
    width: 45px;
}

.botonComun a.botonReporte {
    background-image: url("#{resource['images/btnReporte.png']}");
    width: 45px;
}

.botonComun a.botonPanel {
    background-image: url("#{resource['images/btnPanel.png']}");
    width: 45px;
}

.botonComun a.botonGuardar {
    background-image: url("#{resource['images/guardar.png']}");
    width: 45px;
}

.botonComun a.botonGuardarSri {
    background-image: url("#{resource['images/facturacion.png']}");
    width: 45px;
}

.botonComun a.botonBuscar {
    background-image: url("#{resource['images/btnBuscar.png']}");
    width: 45px;
}

.botonComun a.botonVentas {
    background-image: url("#{resource['images/btnVentas.png']}");
    width: 45px;
}

.botonComun a.botonCompras {
    background-image: url("#{resource['images/btnCompras.png']}");
    width: 45px;
}

.botonComun a.botonImprimir {
    background-image: url("#{resource['images/btnPrint.png']}");
    width: 45px;
}

.botonComun a.botonImprimirPdf {
    background-image: url("#{resource['images/botonpdf.png']}");
    width: 45px;
}

.botonComun a {
    height: 12px;
    width: 60px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 28px 0 0 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
}

.botonComun a:hover {
	border: 1px solid #e5973e !important;
	backgroud-color: #fae6b0 !important;
	background-repeat: no-repeat !important;
}

.botonLargeComun a.botonUsuario {
    background-image: url("#{resource['images/usuario.png']}");
    width: 45px;
}

.botonLargeComun a.botonCerrar {
    background-image: url("#{resource['images/cerrar_ses.png']}");
    width: 45px;
}

.botonLargeComun a.botonVentas {
    background-image: url("#{resource['images/btnVentas.png']}");
    width: 45px;
}

.botonLargeComun a.botonCompras {
    background-image: url("#{resource['images/btnCompras.png']}");
    width: 45px;
}

.botonLargeComun a {
    height: 12px;
    width: 60px !important;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 28px 0 0 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
}

.botonLargeComun a:hover {
	border: 1px solid #e5973e !important;
	backgroud-color: #fae6b0 !important;
	background-repeat: no-repeat !important;
}

.notificationbar {
    background-image: url("#{resource['images/notificationes.png']}");
    background-repeat: repeat-x;
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100px;
    display: none;
    padding: 10px;
}

.styleMensajes{
	height: 82px;
    background-color: transparent;
    border: 0px;
	overflow-y: auto;
	border: solid 1px #f3cf4c;
    background-color: #e2cdf9;
    margin-right: 5em;
    font-weight: bold;
}

/*::-webkit-scrollbar {
      width: 15px;
}*/

.styleLegend{
	color: deepskyblue !important;
    font-weight: bold !important;
}

.statusDialog{
	width: 250px;
	height: 80px;
}


.botonB a {
    height: 10px;
    width: 16px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding-top: 15px !important;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
}

.botonB a:hover {
	border: 1px solid #e5973e !important;
	backgroud-color: #fae6b0 !important;
	background-repeat: no-repeat !important;
	text-decoration: none !important;
}

.botonB a.botonBuscar {
    background-image: url("#{resource['images/btnSearch1.png']}");
}


.botonD a {
    height: 10px;
    width: 30px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding-top: 10px !important;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: block;
}

.botonD a:hover {
	border: 1px solid #e5973e !important;
	backgroud-color: #fae6b0 !important;
	background-repeat: no-repeat !important;
	text-decoration: none !important;
}

.botonD a.agregarD {
    background-color: #faebd7;
    color: black;
    padding-left: 3px;
    padding-right: 41px;
    padding-top: 1px !important;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #b98e83;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}



.botonD a.aceptarD {
    background-color: #BED6F8;
    color: black;
    padding-left: 3px;
    padding-right: 41px;
    padding-top: 1px !important;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #b98e83;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.botonD a.cancelarD {
    background-color: #BED6F8;
    color: black;
    padding-left: 3px;
    padding-right: 46px;
    padding-top: 1px !important;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #b98e83;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.panelPedidos .rf-p-b{
	padding: 1px !important;
}

.panelPedidos .rf-pp-cnt{
	padding: 1px !important;
}

.panelPedidos fieldset {
    padding: 3px;
}

.panelToolBar .rf-tb-itm{
	padding-top: 13px !important;
    padding-right: 3px !important;
    padding-bottom: 13px !important;
    padding-left: 3px !important;
}

.panelToolBar .rf-tb {
    margin-top: -0.4em !important;
    padding-top: 0px !important;
}

.panelToolBar .rf-tb-sep {
    padding: 0px 2px !important;
}

.panelListaArticulos .rf-p-b{
	padding: 1px !important;
}

.columna5 {
	width: 5% !important;
	text-align: center !important;
}


.estiloMenuDinamico .rf-dg-c {
    border-bottom-width: 0px !important;
    border-bottom-style: solid;
    border-bottom-color: #C0C0C0;
    border-right-width: 0px !important;
    border-right-style: solid;
    border-right-color: #C0C0C0;
}

.styleInfoMenuPrincipal{
	overflow: hidden;
    width: 99.4%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 14px;
    background-color: #FFF;
}

.styleInfoMenuLeft{
	float: left;
	width: 25.9%;
	height: 60px;
	overflow-y: auto;
	text-align: center;
	padding-top: 10px;
}

.styleInfoMenuRight{
	float: right;
	width: 74%;
	height: 70px;
}

.styleInputPlaceMunuscula{
	border: 1px solid #bed6f8;
    height: 20px;
    width: 250px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
}

.styleInputPlaceMunuscula .rf-ii-chng{
	height: 20px !important;
	border: 1px solid #bed6f8;
    height: 20px;
    width: 250px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
}

.styleInputPlaceMunuscula .rf-ii-fld{
	height: 23px !important;
	background-color: #f1f6fe;
}

.styleInputPlace{
	border: 1px solid #bed6f8;
    height: 20px;
    width: 250px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
}

.styleInputPlace .rf-ii-chng{
	height: 20px !important;
	border: 1px solid #bed6f8;
    height: 20px;
    width: 250px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
    text-transform: uppercase !important;
}

.styleInputPlace .rf-ii-fld{
	height: 23px !important;
	background-color: #f1f6fe;
	text-transform: uppercase !important;
}


.styleInputPlaceMediano{
	border: 1px solid #bed6f8;
    height: 20px;
    width: 175px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
}

.styleInputPlaceMediano .rf-ii-chng{
	height: 20px !important;
	border: 1px solid #bed6f8;
    height: 20px;
    width: 175px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
    text-transform: uppercase !important;
}


.styleInputPlaceMediano .rf-ii-fld{
	height: 23px !important;
	background-color: #f1f6fe;
	text-transform: uppercase !important;
}

.styleInputPlaceVentas{
	border: 1px solid #bed6f8;
    height: 20px;
    width: 120px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
}

.styleInputPlaceVentas .rf-ii-chng{
	height: 20px !important;
	border: 1px solid #bed6f8;
    height: 20px;
    width: 120px;
    padding-top: 3px;
    font-size: 14px;
    background-color: #f1f6fe;
    text-transform: uppercase !important;
}


.styleInputPlaceVentas .rf-ii-fld{
	height: 23px !important;
	background-color: #f1f6fe;
	text-transform: uppercase !important;
}


.styleClean a:hover {
	background-image: url("#{resource['images/limpiar.png']}");
}

.styleClean a {
	height: 21px;
    width: 16px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center 2px;
    display: inline-block;
    background-image: url("#{resource['images/limpiar.png']}");    
}

.styleSearch{
	height: 24px;
	width: 70px;
}